<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Sushobhan Datta. This used data from mapbox api and weatherstack api..!</p>
        <p>The weather webiste was created using javascript at client end and node at backend. It uses additional techs like express and handlebars.</p>
        <img class="myimg" src="/img/me.jpg">
    </div>   
    {{>footer}}
</body>
</html>